ksql.server.url=https://pksqlc-blah.region.provider.confluent.cloud:443

# Migrations metadata configs:
# ksql.migrations.stream.name=MIGRATION_EVENTS
# ksql.migrations.table.name=MIGRATION_SCHEMA_VERSIONS
# ksql.migrations.stream.topic.name=ksql-service-idksql_MIGRATION_EVENTS
# ksql.migrations.table.topic.name=ksql-service-idksql_MIGRATION_SCHEMA_VERSIONS
ksql.migrations.topic.replicas=3

# TLS configs:
# ssl.truststore.location=
# ssl.truststore.password=
# ssl.keystore.location=
# ssl.keystore.password=
# ssl.key.password=
# ssl.key.alias=
ssl.alpn=true
# ssl.verify.host=true

# ksqlDB server authentication configs:
ksql.auth.basic.username=IRM4RNIWKIYR4FNF
ksql.auth.basic.password=1bL8KQAtsPNGAmc3LNtmQllLy6kCdHUKxvHmdX/fBUnNnVR5QpA4RwSGE7pUPOiC
